# Node.js
node_modules/

# Angular
/dist/
/e2e/*.json
.angular/cache

# Editor specific files
.vscode/
*.iml
.idea/

# Code coverage reports
coverage/

# Environment configuration
.env
.env.local

# Log files
*.log

# Temporary files
*.swp
