<mat-card style="width:max-content;">
    <mat-card-header>
      <div>
  
      </div>
      
      <mat-card-title>{{ dishData.name }}<b> {{ dishData.price }} €</b></mat-card-title>
      
    </mat-card-header>
    <p style="max-width: 300px; margin-left: 10px;">{{ dishData.description }}</p>
      
    <mat-card-content>
      
      <button (click)="updateNumber(false)" mat-button>-</button>
      <input [(ngModel)]="plateNumber">
      <button (click)="updateNumber(true)" mat-button>+</button>
      
    </mat-card-content>
    <button mat-button (click)="setNumber()">ADD TO ORDER</button>
  </mat-card>
  
   