
<div>
    <h2 style="margin-top: 15px; margin-left: 15px;">Orders table {{ tableNumber$$ | async }}</h2>
    <!-- Your dialog content goes here -->
    <div fxLayout="row" fxLayoutAlign="start" style="margin-bottom: 30px;">
        <div fxFlex="column">
            <div *ngFor="let order of (ordersTable$$ | async); let i = index" style="width: 300px; margin: 30px; ">
                <b>Order number{{ order.number }}</b>
                <p>Creation: {{ order.orderCreation | date:"MMM dd, yyyy 'at' hh:mm a" }}</p>

                <div *ngIf="order.orderTakenDrink">
                    <b>Bar</b>
                    <p>Preparation: {{ order.orderTakenDrink  | date:"MMM dd, yyyy 'at' hh:mm a" }}</p>
                    <p style="color: orange;">Production time: {{ order.dishesProductionTime }}</p>
                    <p>Completed: {{ order.orderPreparedDrink }}</p>
                </div>
                
                <div *ngIf="order.orderTakenCook">
                    <b>Kitchen</b>
                    <p>Preparation: {{ order.orderTakenCook }}</p>
                    <p style="color: orange;">Production time: {{ order.dishesProductionTime  | date:"MMM dd, yyyy 'at' hh:mm a" }}</p>
                    <p>Completed: {{ order.orderPreparedCook }}</p>
                </div>
                

                <div *ngIf="(order.orderPreparedCook != null || !order.dishes.length) && (order.orderPreparedDrink != null || !order.drinks.length)">
                    <button (click)="serveOrder(order.number, order.table)">Serve</button>
                </div>

            </div>
        </div>
    </div>
</div>
