
<div>
    <h2 style="margin-top: 15px; margin-left: 15px;">Orders table {{ tableNumber$$ | async }}</h2>
    <!-- Your dialog content goes here -->
    <div fxLayout="row" fxLayoutAlign="start" style="margin-bottom: 30px;">
        <div fxFlex="column">
            <div *ngFor="let order of (ordersTable$$ | async); let i = index" style="width: 300px; margin: 30px; ">
                <b>Order number{{ order.number }}</b>
                <p>Creation: {{ order.orderCreation }}</p>

                <b>Bar</b>
                <p>Preparation: {{ order.orderTakenDrink }}</p>
                <p style="color: orange;">Production time: {{ order.dishesProductionTime }}</p>
                <p>Completed: {{ order.orderPreparedDrink }}</p>

                <b>Kitchen</b>
                <p>Preparation: {{ order.orderTakenCook }}</p>
                <p style="color: orange;">Production time: {{ order.dishesProductionTime }}</p>
                <p>Completed: {{ order.orderPreparedCook }}</p>

                <div *ngIf="order.orderPreparedCook != null && order.orderPreparedDrink != null">
                    <button (click)="serveOrder(order.number, order.table)">Serve</button>
                </div>

            </div>
        </div>
    </div>
</div>
